# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/gophermart/main
cmd/gophermart/gophermart
cmd/gophermarttest-darwin-arm64

# IDEs directories
.idea
.vscode

# Local env
.env
.env.*.local
